:host {
  display: block;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

#ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#icon {
  margin: 8px;
  vertical-align: middle;
}